@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap");
body {
  background-color: #202023;
  color: white;
  font-family: "M PLUS Rounded 1c";
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}

.button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: #202023;
}
