@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap");
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #202023;
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "M PLUS Rounded 1c";
}

.subtitle {
  text-align: center;
  margin-top: 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

.button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-family: "Inter";
  font-weight: 500;
  color: #202023;
}

.textbox {
  padding-top: 8px;
  margin-top: 10px;
  font-family: "Inter";
}

.messageBox {
  font-family: "Inter";
}
